extends layout

block content
  h1= title
  p Welcome to #{title}
  h3  Interesting fact about myself
  p I was 22 when I got my first job at a Accenture, which helped me develop leadership, communication and listening skills.